# Explore Eponym NFT Collection
Official Eponym Links
<br>
https://art-ai.com/
<br>
https://opensea.io/collection/eponym
<br>
<br>
Notebook Author
<br>
https://twitter.com/sherrillNFT

In [50]:
import pandas as pd
import os
import functools
import operator
import re
import emoji
from emoji import UNICODE_EMOJI
from tabulate import tabulate
from nltk import word_tokenize
import warnings
warnings.filterwarnings('ignore')

In [2]:
#read in eponyms dataframe that I made in another script
df = pd.read_csv("eponyms_df.csv", index_col = 0)

## Eponyms Listed Alphabetically

In [3]:
full_df_alpha = df.sort_values('name')

In [4]:
#replace whitespace and tabs with underscore
full_df_alpha['name'] = full_df_alpha['name'].str.replace('\t', '_____')
full_df_alpha['name'] = full_df_alpha['name'].str.replace(' ', '_')
full_df_alpha['name'] = '`' + full_df_alpha['name'].astype(str) + '`'

In [5]:
full_df_alpha['name'].head()

8540    `_____beyonc√©`
1467               `_`
5324         `___ngmi`
9838         `__panda`
5840             `__‚Çø`
Name: name, dtype: object

In [6]:
#Save as markdown to then save as html
full_df_alpha = full_df_alpha.reset_index(drop=True)
full_df_alpha_md = tabulate(full_df_alpha, tablefmt="pipe", headers="keys")
with open(os.getcwd() + '/markdown/all_eponyms_alphabetically.md', 'w') as f:
    f.write(full_df_alpha_md)

## Eponyms Listed By Mint Order

In [7]:
#eponyms listed by mint order (token id)
full_mint_order_df = df.sort_values('token_num')
full_mint_order_df.head()

   token_num           name                                          image_url
0          1    to the moon  https://ipfs.io/ipfs/QmYfMU8DQy4TjuLahUtp5uTMZ...
1          2            art  https://ipfs.io/ipfs/QmPcQJGD9sBQfD43oqaUgEPms...
2          3  dumbgayretard  https://ipfs.io/ipfs/Qmd69TckuVPYuoz9taFrJnDPr...
3          4          skull  https://ipfs.io/ipfs/QmTTF82iBNgurB9BZcYLgcB2s...
4          5            arq  https://ipfs.io/ipfs/QmX3ba5awgdLkim2QseJ95o4v...

In [8]:
#Save as markdown to save as html
full_md = tabulate(full_mint_order_df, tablefmt="pipe", headers="keys", showindex=False)
with open(os.getcwd() + '/markdown/all_eponyms_mint_order.md', 'w') as f:
    f.write(full_md)

## All Eponyms That Contain An Emoji in Mint Order

In [9]:
def recursive_items(dictionary):
    for key, value in dictionary.items():
        if type(value) is dict:
            yield from recursive_items(value)
        else:
            yield (key, value)

In [10]:
#get all emojis in a list
emoji_list = []
for key, value in recursive_items(UNICODE_EMOJI):
    emoji_list.append(key)
print('There are ' + str(len(emoji_list)) + ' possible emojis')

There are 22257 possible emojis

In [11]:
emoji_count = 0
df.sort_values('token_num', inplace = True)
emoji_dict = {
    "name":[],
    "image_url":[],
    "token_num":[]
}
for index, row in df.iterrows():
    em_split_emoji = emoji.get_emoji_regexp().split(str(row['name']))
    em_split_whitespace = [substr.split() for substr in em_split_emoji]
    em_split = functools.reduce(operator.concat, em_split_whitespace)
    for word in em_split:
        if word in emoji_list:
            emoji_dict["name"].append(str(row['name']))
            emoji_dict["image_url"].append(row['image_url'])
            emoji_dict["token_num"].append(row['token_num'])
            emoji_count+=1
            break
print('There are {} eponyms that contain emojis.'.format(emoji_count))

There are 44 eponyms that contain emojis.

In [12]:
emoji_df = pd.DataFrame(emoji_dict)

In [13]:
#Save as markdown to save as html
emoji_md = tabulate(emoji_df, tablefmt="pipe", headers="keys")
with open(os.getcwd() + '/markdown/emoji.md', 'w') as f:
    f.write(emoji_md)

## Eponyms That Are a Single Character in Length By Mint Order

In [14]:
single_char_count = 0
single_char_dict = {
    "name":[],
    "image_url":[],
    "token_num":[]
}
for index, row in df.iterrows():
    if len(str(row['name'])) == 1:
        single_char_dict["name"].append(str(row['name']))
        single_char_dict["image_url"].append(row['image_url'])
        single_char_dict["token_num"].append(row['token_num'])
        single_char_count +=1
print('There are {} eponyms that are a single character long.'.format(single_char_count))

There are 67 eponyms that are a single character long.

In [15]:
single_char_df = pd.DataFrame(single_char_dict)
single_char_df.head()

  name                                          image_url  token_num
0    1  https://ipfs.io/ipfs/QmdQgDpRwLP71yKg5fcQBioeG...         80
1    0  https://ipfs.io/ipfs/QmNunb3UF4zYoZbsX9LWDZTvn...        103
2    üòé  https://ipfs.io/ipfs/QmXxWpyYRWNBFuPT6WsuD5ya9...        246
3    a  https://ipfs.io/ipfs/QmbJvNydHgHY9CfF5V9MSkWkr...        263
4    $  https://ipfs.io/ipfs/QmdrodroCUZ9a7E8idQmGhqh8...        634

In [16]:
#Save as markdown to save as html
single_md = tabulate(single_char_df, tablefmt="pipe", headers="keys")
with open(os.getcwd() + '/markdown/single.md', 'w') as f:
    f.write(single_md)

In [17]:
df.head()

   token_num           name                                          image_url
0          1    to the moon  https://ipfs.io/ipfs/QmYfMU8DQy4TjuLahUtp5uTMZ...
1          2            art  https://ipfs.io/ipfs/QmPcQJGD9sBQfD43oqaUgEPms...
2          3  dumbgayretard  https://ipfs.io/ipfs/Qmd69TckuVPYuoz9taFrJnDPr...
3          4          skull  https://ipfs.io/ipfs/QmTTF82iBNgurB9BZcYLgcB2s...
4          5            arq  https://ipfs.io/ipfs/QmX3ba5awgdLkim2QseJ95o4v...

## Explore Similarly Named Eponyms Ordered Alphabetically

In [18]:
df_no_white_space = df
df_no_white_space['og_name'] = df['name']
df_no_white_space['name'] = df['name'].str.strip()
duplicateRowsDF = df_no_white_space[df_no_white_space.duplicated(['name'], keep=False)]

In [19]:
duplicateRowsDF.sort_values('name', inplace = True)
display_similar = duplicateRowsDF[['og_name', 'image_url', 'token_num']]
dup_count = 0
for index, row in duplicateRowsDF.iterrows():
    #print(str(row['og_name']) + ': ' + row['image_url'] + " " + str(row['token_num']))
    dup_count+=0.5
print('There are {} eponyms that kinda have the same name'.format(int(dup_count)))

There are 145 eponyms that kinda have the same name

In [20]:
#replace whitespace with underscore
display_similar['og_name'] = display_similar['og_name'].str.replace(' ', '_')
display_similar = display_similar.reset_index(drop=True)

In [21]:
#save df as markdown to save as html
sim_md = tabulate(display_similar, tablefmt="pipe", headers="keys")
with open(os.getcwd() + '/markdown/similar.md', 'w') as f:
    f.write(sim_md)

In [22]:
df = df.drop(columns=['og_name'])

## The Four Uploaded Images One

- "Non-official‚Äù attribute & Non-official image replacement:
A small number of Eponyms (4 in total) were minted using an exploit that allowed the owner to upload a non-official image that was not generated by our algorithm. i.e. the famous Elon Musk image by ‚ÄúWoof‚Äù.
The non-official‚Äù Eponyms‚Äô images were replaced with ‚ÄúNon-Official‚Äù text to indicate them. Any collectors that paid for a ‚Äúnon-official‚Äù eponym before this change are eligible to get their purchase amount refunded.
Side note ‚Äì Eponym is all about exploring creativity and user-generated designs. As Woof was able to quickly and creatively find an exploit during the live drop and did ultimately conjured a new image, we will leave the now famous Elon exploited Eponym with the addition of a ‚Äúnon-official‚Äù attribute to it, as a monument for the community creativity demonstrated by Woof.

In [23]:
non_official = df[df.apply(lambda x: 'art-ai' in x['image_url'], axis=1)]

In [24]:
for index, row in non_official.iterrows():
    print(str(row['name']) + ': ' + row['image_url'] + " " + str(row['token_num']))

nan: https://art-ai.com/img/non_official_image.png 2408
CryptoPunk #3100: https://art-ai.com/img/non_official_image.png 3268
i fucked your mom: https://art-ai.com/img/non_official_image.png 4912
BAYC #2087: https://art-ai.com/img/non_official_image.png 5040
error: https://art-ai.com/img/non_official_image.png 5094
inexistence: https://art-ai.com/img/non_official_image.png 5100
galaxy trip: https://art-ai.com/img/non_official_image.png 6226
cycle of life: https://art-ai.com/img/non_official_image.png 6994

## Eponyms w/ '@'

In [25]:
at_df = df[df.apply(lambda x: '@' in str(x['name']), axis=1)]
at_count = 0
for index, row in at_df.iterrows():
    #print(str(row['name']) + ': ' + row['image_url'] + " " + str(row['token_num']))
    at_count+=1
print("There are {} eponyms with the '@' symbol".format(at_count))

There are 24 eponyms with the '@' symbol

In [26]:
at_df = at_df.reset_index(drop=True)
at_df.head()

   token_num           name                                          image_url
0       2302    @fvckrender  https://ipfs.io/ipfs/QmZzjk4MnH5qeZssQx3E4ooph...
1       2680   @inversebrah  https://ipfs.io/ipfs/QmTkHUrPEyVqgiMJnjdv5Uj1H...
2       2725      @elonmusk  https://ipfs.io/ipfs/QmXFzukhUYyftKHySfKgBuwrW...
3       3015      @muratpak  https://ipfs.io/ipfs/QmPjrTuWdW9WSJb31rxzTAWjN...
4       3196  @cozomomedici  https://ipfs.io/ipfs/QmUj9T8ya66GRc5NRN2UVJuz1...

In [27]:
#Save as markdown to save as html
at_md = tabulate(at_df, tablefmt="pipe", headers="keys")
with open(os.getcwd() + '/markdown/at_md.md', 'w') as f:
    f.write(at_md)

## Eponyms w/ url

In [28]:
links_df = df[df.apply(lambda x: 'http' in str(x['name']), axis=1)]
#for index, row in df[df.apply(lambda x: 'http' in str(x['name']), axis=1)].iterrows():
    #print(str(row['name']) + ' - ' + row['image_url'] + " " + str(row['token_num']))

In [29]:
links_df = links_df.reset_index(drop=True)
links_df.head()

,token_num,name,image_url
0,6547,https://twitter.com/halfin/status/1110302988,https://ipfs.io/ipfs/QmYuaP4SmKRKk6ahqTUegMoam...
1,9044,https://twitter.com/elonmusk/status/1340573003...,https://ipfs.io/ipfs/QmfDQfbuuyzSvaUhLLRY9udWA...
2,9364,https://www.youtube.com/watch?v=dqw4w9wgxcq,https://ipfs.io/ipfs/Qmb6ikEuh5vH7ba8uyniWrw6g...
3,9864,https://art-ai.com/minting-time,https://ipfs.io/ipfs/QmYe3gtYA8w7RzLBV762WMNBa...

In [30]:
#Save as markdown to save as html
links_md = tabulate(links_df, tablefmt="pipe", headers="keys")
with open(os.getcwd() + '/markdown/links_md.md', 'w') as f:
    f.write(links_md)

## Eponyms Related to NFTs and Crypto

In [31]:
nft_jargon = ['gm', 'gn', 'ser', 'fren', 'gmi', 'wagmi', 'gonna make it', 'we gonna make it', 'we all gonna make it', "we're gonna make it", 'not gonna make it', 'ngmi', 'mcdonalds', 'pfp', 'looks rare', 'fomo', 'cope', '1/1', '1:1', 'szn', 'nft', 'irl', 'probably nothing', "we're early", 'we early', 'early', 'up only', 'liquidity', 'mint', 'bitcoin', 'ethereum', 'eth', 'right click', 'cardano', 'sol', 'floor', 'alpha', 'jpg', 'jpeg', 'png', 'discord', 'roadmap', 'lfg', 'gas war', 'rug', 'ded', 'iykyk', 'wen', 'dyor', 'aped', 'nfa', 'crypto', 'punks', 'bayc', 'bored ape', 'cryptoadz', 'nakamoto', 'cryptocurrency', 'cool cats', 'mekaverse', 'xcopy', 'gary', 'cryptopunks', 'cryptopunk', 'decentralize', 'decentralized', 'shill']

In [32]:
nft_count = 0
nft_dict = {
    "name":[],
    "image_url":[],
    "token_num":[]
}
for index, row in df.iterrows():
    for word in word_tokenize(str(row['name']).lower()):
        if word in nft_jargon or str(row['name']).startswith("!"):
            nft_dict["name"].append(str(row['name']))
            nft_dict["image_url"].append(row['image_url'])
            nft_dict["token_num"].append(row['token_num'])
            #print(str(row['name']) + ': ' + row['image_url'] + " " + str(row['token_num']))
            nft_count +=1
print('There are {} eponyms related to NFTs and crypto.'.format(nft_count))

There are 483 eponyms related to NFTs and crypto.

In [33]:
nft_df = pd.DataFrame(nft_dict)
nft_df.head()

         name                                          image_url  token_num
0       wagmi  https://ipfs.io/ipfs/QmUmoxB39W8cQFk7iSVFZmzKH...          7
1     bitcoin  https://ipfs.io/ipfs/QmS6h836dtBCfWYExcqEsFCYa...         10
2  cryptopunk  https://ipfs.io/ipfs/Qmf9gcbJiXBGqkLMmEE9Jz3BL...         15
3    ethereum  https://ipfs.io/ipfs/QmU3Rx1CQCnH2UEtLyrBzaDqq...         20
4         nft  https://ipfs.io/ipfs/QmSSHdDgPwYkMwRuth2hpjyM8...         44

In [34]:
#Save as markdown to save as html
nft_md = tabulate(nft_df, tablefmt="pipe", headers="keys")
with open(os.getcwd() + '/markdown/nft_md.md', 'w') as f:
    f.write(nft_md)

## Hella Long Eponyms

In [35]:
long_count = 0
long_df = df[df.apply(lambda x: len(str(x['name']).split()) > 8, axis=1)]
for index, row in long_df.iterrows():
    #print(str(row['name']) + ': ' + row['image_url'] + " " + str(row['token_num']))
    long_count += 1
print('There are {} long eponyms (more than 8 words)'.format(long_count))

There are 212 long eponyms (more than 8 words)

In [36]:
long_df = long_df.reset_index(drop=True)
long_df.head()

,token_num,name,image_url
0,181,kanye west is the greatest artist of all time,https://ipfs.io/ipfs/QmfD6ma7cicXPyNs2Jv3Rt9ph...
1,572,the wheel is come full circle: i am here.,https://ipfs.io/ipfs/QmNRvWgJp1ZsB31pTDMBNhU8J...
2,662,the times 03/jan/2009 chancellor on brink of s...,https://ipfs.io/ipfs/QmP5hBjoJYJCHykVcWn7UbN6t...
3,714,"if you don‚Äôt believe it or don‚Äôt get it, i don...",https://ipfs.io/ipfs/QmWdTJLR25bozjassSSRmzz4P...
4,731,dogs love to jump with toads licking their bel...,https://ipfs.io/ipfs/QmUcMdK4rFoQNd8tCsjUqwoPy...

In [37]:
#Save as markdown to save as html
long_md = tabulate(long_df, tablefmt="pipe", headers="keys")
with open(os.getcwd() + '/markdown/long.md', 'w') as f:
    f.write(long_md)

## Location Eponyms

In [38]:
import spacy

In [39]:
import spacy.displacy as displacy
nlp =spacy.load("en_core_web_sm")
index = "John Lee is the chief of CBSE‚Äô, ‚ÄòAmericans suffered from H5N1"
doc = nlp(index)
for ent in doc.ents:
 print(ent.text,ent.label_)

John Lee PERSON
CBSE ORG
Americans NORP

In [42]:
loc_count = 0
loc_dict = {
    "name":[],
    "image_url":[],
    "token_num":[]
}
for index, row in df.iterrows():
    doc = nlp(str(row['name']))
    for ent in doc.ents:
        if ent.label_ == 'LOC':
            loc_dict["name"].append(str(row['name']))
            loc_dict["image_url"].append(row['image_url'])
            loc_dict["token_num"].append(row['token_num'])
            loc_count+=1
print("There are {} location eponyms".format(loc_count))

There are 43 location eponyms

In [43]:
loc_df = pd.DataFrame(loc_dict)
loc_df.head()

,name,image_url,token_num
0,asia,https://ipfs.io/ipfs/QmdwwCxZ8ENGbFM8PVdRfg5ma...,18
1,mars,https://ipfs.io/ipfs/QmYgAbMCzDK4q1C5jNKVV41bZ...,117
2,to the mars,https://ipfs.io/ipfs/QmRjqQwkbVJmrvUxsqMk8VuPk...,321
3,jupiter,https://ipfs.io/ipfs/QmPv2ATMShRMSNg5o3Ap1NCXM...,924
4,food of the earth,https://ipfs.io/ipfs/QmTytw3PYypRC2sjfpq56HPCy...,1773

In [44]:
#Save as markdown to save as html
loc_md = tabulate(loc_df, tablefmt="pipe", headers="keys")
with open(os.getcwd() + '/markdown/loc.md', 'w') as f:
    f.write(loc_md)

## Person Eponyms

In [47]:
person_count = 0
person_dict = {
    "name":[],
    "image_url":[],
    "token_num":[]
}
for index, row in df.iterrows():
    doc = nlp(str(row['name']))
    for ent in doc.ents:
        if ent.label_ == 'PERSON':
            person_dict["name"].append(str(row['name']))
            person_dict["image_url"].append(row['image_url'])
            person_dict["token_num"].append(row['token_num'])
            person_count+=1
print("There are {} person eponyms".format(person_count))

There are 979 person eponyms

In [48]:
person_df = pd.DataFrame(person_dict)
person_df.head()

           name                                          image_url  token_num
0     amsterdam  https://ipfs.io/ipfs/QmaHKYPVvPENQeQHZJNity3MR...         17
1    bulla lisa  https://ipfs.io/ipfs/QmVYHb5VZRjYz2anVf2LVehhq...         24
2          moon  https://ipfs.io/ipfs/QmSqf3Lggkc9QHapg57HYoyKt...         26
3  spacekittyxd  https://ipfs.io/ipfs/QmZFMEbaCD6BJJdsvb7dfKhQW...         60
4           sol  https://ipfs.io/ipfs/QmVLiJkgzL646g2s6zEQfbNVQ...         72

In [49]:
#Save as markdown to save as html
person_md = tabulate(person_df, tablefmt="pipe", headers="keys")
with open(os.getcwd() + '/markdown/person.md', 'w') as f:
    f.write(person_md)